body {
    height: 200vh;
    background-color: rgb(5, 41, 34);
    
    
}
.horizontal-line {
    width: 100%;
    border: none;
    border-top: 1px solid black;
  }
.test {
  color: red;
}
#fixed-navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
  }
  .background-image-container {
    background-image: url('Back-1.jpg');

  }
  .hide-navbar {
    opacity: 0; /* Set initial opacity to 0 */
    visibility: hidden; /* Hide the element, but keep the space it occupies */
    transition: opacity 0.5s ease, visibility 0s linear 0.5s; /* Use transition for opacity and visibility */
  }
  
  .show-navbar {
    opacity: 1; /* Set opacity to 1 when showing */
    visibility: visible; /* Make the element visible */
    transition: opacity 0.5s ease; /* Use transition for opacity */
  }
  .white {
    color: rgb(255, 255, 255) !important;
  } 