body {
    height: 200vh;
    background-image: url('Back-1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    
}
.horizontal-line {
    width: 100%;
    border: none;
    border-top: 1px solid black;
  }
.test {
  color: red;
}
#fixed-navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
  }
  .background-image-container {
    background-image: url('Back-1.jpg');

  }
  .hide-navbar {
    transform: translateY(-200%);
    transition: transform 0.7s ease;
  }